<h1>Edit page</h1>

<form
  action="/bobas/<%=boba.id%>?_method=PUT"
  method="POST"
  enctype="multipart/form-data"
>
  <div>
    <label>Name of Boba:</label>
    <input type="text" name="name" value="<%= boba.name%>" required />
  </div>
  <div>
    <label>Served: </label>
    <select name="temperature" required>
      <% categories.forEach(category => { %> <% if (category.temperature ===
      boba.temperature.temperature) { %>
      <option
        selected
        label="<%= category.temperature %>"
        value="<%= category.id%>"
      ></option>
      <% } else { %>
      <option
        label="<%= category.temperature %>"
        value="<%= category.id%>"
      ></option>
      <% } %> <% }) %>
    </select>
  </div>

  <div>
    <label>Description:</label>
    <textarea name="description" required><%=boba.description %></textarea>
  </div>
  <div>
    <label>Boba</label>
    <input type="file" name="file" />
  </div>
  <a href="/bobas">Cancel</a>
  <button type="submit">Update</button>
</form>
