<div>
  <h2><%= category.temperature %> Bobas</h2>

  <br />
  <div class="bobaGridContainer">
    <% if (bobas.length > 0) { %> <% bobas.forEach(boba => { %>
    <div class="bobaGridCard">
      <h3><a href="/bobas/<%= boba.id%> "><%= boba.name%></a></h3>
      <h4>boba</h4>

      <% if(boba.url == null) {%>
      <img src="/assets/bobaEmptyCup.png" alt="empty cup of boba" />
      <% }else { %>
      <img src="<%=boba.url%>" alt=" <%= boba.name %>" />
      <% } %>
      <div>
        <p><%=boba.description %></p>
      </div>
    </div>
    <% }) %> <% } else { %>
    <p>no more boba...</p>
    <% } %>
  </div>
</div>
